html {
  font-family:  "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  margin: 0;
}

$playerNameFontSize_base : 18px;
$playerNameFontSize_mobile : 16px;
$playerBioDataFontSize_base: 15px;
$playerBioDataFontSize_mobile: 14px;
$playerBioDataLineHeight_base: 1.5;
$playerBioDataLineHeight_mobile: 1.3;

.player-container {
  width:50%;
}

.player-photo-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  padding: 5px;
}

.player-bio-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}

.player-bio-col {
  padding-left: 0px;
}

.player-card {
  //max-width:min-content;
  box-shadow: rgba(52, 75, 107,0.7) 0 0 7px;
  background-color: gray;
  min-width:20vw;
  //max-width: min-content;
  //padding: 5px 10px 10px 10px;
  margin: 3px;
}

.player-card:hover:not(.selectedPlayer)  {
	box-shadow: #1faff1 0 0 19px !important;
  transform:scale(1.02);
  cursor: pointer;
}

.selectedPlayer {
  box-shadow: rgba(241, 241, 6, 0.5) 0 0 7px !important;
  cursor: not-allowed;
}

.player-details {
  padding: 3px;
}

.player-name {
  text-align: center;
  font-size: $playerNameFontSize_base;
}

.player-image {
  width:100%;
}

.player-info {
  display:flex;
  flex-flow: column nowrap;
  width:70%;
  align-self:center;
}

.player-info tr {
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}

.player-contract-info, .player-bio-col span {
  font-size: $playerBioDataFontSize_base;
}

.player-list {
  display: flex;
  flex-flow: row wrap;
  //max-width: 50vw;
}

.player-details-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.player-details-container>* {
  line-height: $playerBioDataLineHeight_base;
}

@media screen and (max-width: 992px) {
  .player-container {
    width: 100%;
  }
  .player-name {
    font-size: $playerNameFontSize_mobile;
  }
  .player-bio-col span {
    font-size: $playerBioDataFontSize_mobile;
  }
  .player-card:hover  {
    box-shadow: none;
    transform:scale(1);
  }
  .player-image {
    height: auto;
    max-width: 15vw;
  }
  .player-details-container>* {
    line-height: $playerBioDataLineHeight_mobile;
  }
}

.pitchPlot {
  
}